body {
    font-family: "Lato", sans-serif;
    color: #2B2B2B;
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /*Пока что есть ошибка в том, что у всего блока есть отступ снизу, из-за чего следующий блок не получается поднять выше (из-за этого оставшаяся часть макета ниже орининала). Найду способ это испрвавить.*/
}

.promo__content {
    padding-bottom: 105px;
}

.promo__title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 1.05;
    padding-bottom: 22px;
}

.promo__description {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 1.4;
    width: 241px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.promo__button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 83px 21px 43px;
    background-color: #27AE60;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    letter-spacing: -0.6px;
}

.promo__button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 30px; 
    border: 1px solid #1982BD;
    opacity: 0.11;
}

.promo__image-button {
    position: absolute;
    top: 10%;
    right: 5px;
    padding: 16px 12px 15px 12px;
    background-color: #35B86C;
    border-radius: 50%;
}

.promo__slider {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.promo__list {
    display: flex;
    justify-content: center;
}

.promo__item {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.promo__item:not(:first-child) {
    display: none;
}

.promo__item {
    text-align: center;
}

.promo__image {
    display: none; /*Пока что скрыл изображения, я думаю, что через JS можно будет настроить слайдер так, чтобы изображения при переключении появлялись и исчезали.*/
}

.promo__image--active {
    display: block;
    width: 96%;
    padding-top: 12px;
    aspect-ratio: 449 / 724;
    object-fit: cover;
    object-position: 62.3%; /*У первого изображения есть проблема в том, что оно изначально очень широкое, я попробовал решить эту проблему через обрезание*/
}

.promo__slider-button {
    position: absolute;
    top: 41.8%;
    background: none;
    border: none;
    cursor: pointer;
    width: 45px; 
    height: 45px;
}

.promo__slider-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.promo__slider-button_direction_left {
    left: 8px;
}

.promo__slider-button_direction_right {
    right: 8px;
}

.advantages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #27AE60;
    padding-top: 58px;
    margin-top: -27px;
}

.advantages__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -83px;
    padding-top: 18px;
}

.advantages__image {
    display: block;
    width: 104.5%;
    aspect-ratio: 313 / 291;
    object-fit: cover;
}

.advantages__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 18px 27px 18px 22px;
    border-radius: 40px;
    position: relative;
}

.advantages__text::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 40px; 
    border: 1px dashed #27AE60;
    opacity: 0.31;
}

.advantages__text-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.4px;
    padding-bottom: 6px;
}

.advantages__text-description {
    font-size: 14px;
    font-weight: normal;
    color: #6C997F;
    letter-spacing: 0.1px;
    margin-left: -8px
}

.advantages__points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantages__title {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    line-height: 1.20;
    letter-spacing: 0.25px;
    width: 227px;
    color: #FFFFFF;
    padding-bottom: 37px;
    margin-left: -19px
}

.advantages__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 17px; /*В макете у элементов списка разные отступы, решил взять что-то среднее*/
    padding-bottom: 10px;
}

.advantages__item {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    margin-left: 18px;
    letter-spacing: 0.26px;
    line-height: 1.5;
    position: relative; 
    padding-left: 40px;
}

.advantages__item::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 10px;
    width: 13px; 
    height: 10px; 
    background-image: url('../images/adventages-dot.svg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}
.advantages__item:nth-child(4):before,
.advantages__item:nth-child(5):before {
    content: "";
    position: absolute;
    left: 10px;
    top: 20%;
    width: 13px; 
    height: 10px; 
    background-image: url('../images/adventages-dot.svg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 145px;
    position: relative;
    padding-bottom: 59px;
}

.products__title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.7px;
    text-align: center;
    line-height: 1.15;
    color: #27AE60;
    width: 280px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.products__slider-button {
    position: absolute;
    top: 450px;
    background: none;
    border: none;
    cursor: pointer;
    width: 11.5px; 
    height: 29px;
}

.products__slider-button img {
    width: 17px; 
}

.products__slider-button_direction_left {
    left: 5px; 
}

.products__slider-button_direction_right {
    right: 22px; 
}

.products__item {
    display: none;
}

.products__item--active {
    display: block;
}

.product {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 453px;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product:nth-child(1),
.product:nth-child(3) {
    display: none; /*Временное решение*/
}

.product__image {
    display: block;
    width: 100%; 
    height: 58%; 
    object-fit: cover; 
    padding-bottom: 17px;
}

.product__title {
    font-size: 16;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

.product__description {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    color: #6C997F;
    letter-spacing: 0.1px;
    width: 206px;
    margin: 0 auto;
}

.deliverys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 84px;
}

.deliverys__image {
    display: block;
    width: 212%;
    aspect-ratio: 1349 / 1158;
    object-fit: contain;
    margin-left: -175px;
}

.deliverys__points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deliverys__title {
    font-size: 22px;
    font-weight: bold;
    width: 274px;
    margin-top: -132px; 
    margin-left: -17px;
    line-height: 1.2;
    letter-spacing: -0.6px;
    color: #27AE60;
    padding-bottom: 40px;
    /* word-break: break-word; */ /*Пробовал этот вариант, не сработало, смог только через br это сделать*/
}

.deliverys__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 29px;
    margin-left: -35px;
}

.delivery__image {
    height: 75px;
    margin-top: -20px;
}

.delivery__content {
    display: flex;
    flex-direction: column;
    margin-left: -5px;
}

.delivery__title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    letter-spacing: -0.8px;
    color: #000000;
}

.delivery__description {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    line-height: 1.2;
    width: 230px;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.gallery__title {
    font-size: 22px;
    padding-left: 1px;
    letter-spacing: -0.1px;
    font-weight: bold;
    text-align: center;
    color: #27AE60;
    padding-bottom: 18px;
}

.gallery__description {
    font-size: 14px;
    font-weight: normal;
    width: 285px;
    line-height: 1.1;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000000;
    padding-bottom: 42px;
}

.gallery__description-type-underline {
    text-decoration: underline;
    text-decoration-color: #000000; 
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.gallery__pictures {
    position: relative; /* Устанавливаем контейнеру относительное позиционирование */
    width: 100%; /* или установите конкретную ширину */
    height: 350px; 
}

.gallery__image {
    display: block;
    position: absolute;
    border-radius: 10px;
}

.gallery__image-number-1 {
    width: 48%;
    aspect-ratio: 1486 / 1263;
    top: 192px;
    left: -39px;
    z-index: 1;
}

.gallery__image-number-2 {
    width: 65%;
    aspect-ratio: 208 / 177;
    top: 102px;
    right: -120px;
    z-index: 2;
}

.gallery__image-number-3 {
    width: 64%;
    aspect-ratio: 20 / 17;
    top: 2px;
    left: -105px;
    z-index: 1;
}

.gallery__image-number-4 {
    width: 42%;
    aspect-ratio: 606 /515;
    top: 210px;
    right: -5px;
    z-index: 3;
}

.gallery__image-number-5 {
    width: 54%;
    aspect-ratio: 1486 / 1263;
    top: 15px;
    left: 118px;
    z-index: 1;
}

.gallery__image-number-6 {
    width: 40%;
    aspect-ratio: 173 / 147;
    top: 122px;
    left: 38px;
    z-index: 2;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 81px;
}

.menu__title {
    font-size: 22px;
    font-weight: bold;
    color: #27AE60;
    text-align: center;
    width: 237px;
    line-height: 1.2;
    letter-spacing: -0.6px;
    padding-bottom: 13px;
}

.menu__description {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 301px;
    line-height: 1.2;
    padding-bottom: 38px;
}

.menu__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__input {
    width: 279px;
    height: 41px;
    border-radius: 30px;
    border: none;
    background-color: #E8F7EE;
    color: #b1dac2;
    margin-bottom: 10px;
}

.menu__input::placeholder {
    padding-left: 32px; 
}

.menu__button {
    margin-top: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 60px; */
    padding-block: 21px;
    padding-left: 40px;
    padding-right: 80px;
    background-color: #27AE60;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    position: relative;
}

.menu__button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 30px; 
    border: 1px solid #1982BD;
    opacity: 0.11;
}

.menu__image {
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 16px 12px 15px 12px;
    background-color: #35B86C;
    border-radius: 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #27AE60;
    padding-top: 41px;
    padding-left: 20px;
}

.footer__title {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: -0.6px;
    padding-bottom: 37px;
}

.footer__navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding-bottom: 50px;
}

.footer__navigation-item {
    font-size: 14px;
    font-weight: normal;
}

.footer__navigation-link {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__policy-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 23px;
    padding-bottom: 50px;
}

.footer__policy-item {
    font-size: 12px;
    font-weight: normal;
}

.footer__policy-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.4;
}